/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* header styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 100px 30px 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.nav-link {
  display: flex;
}

.nav-link ul {
  list-style: none;
  display: flex;
}

.nav-link ul li {
  margin-left: 35px;
}

.nav-link ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.nav-link .humbgr {
  display: none;
}

.header-info {
  text-align: center;
  margin-top: 100px;
  padding: 0px 200px;
}

.head-info-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}

.head-info-subtitle {
  margin: 30px 0px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.head-btn {
  width: 168px;
  height: 64px;
  border: none;
  background-color: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 50px;
}

.header-img {
  width: 100%;
}

.header-img img {
  width: 100%;
}

/* Main Section */
main {
  padding: 0 100px;
}

.main-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.main-desc {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin: 24px 0 40px 0;
}

/* Feature Styles */
.features {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.f-img-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-right: 30px;
}

.f-img-container img {
  width: 300px;
  height: 300px;
}
.f-info-container {
  width: 40%;
}

.f-title {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}

.f-title .black {
  color: #131313;
}

.f-title .orange {
  color: #ff900e;
}

.f-desc {
  margin: 24px 0;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.f-btn {
  border: none;
  font-weight: 600;
  font-size: 20px;
  background-color: #ff900e;
  color: #ffffff;
  height: 64px;
  width: 180px;
  border-radius: 8px;
}

/* Explore Features Styles */
.e-feature {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  position: relative;
}

.ef-info {
  width: 45%;
}

.ef-title {
  border-left: 5px solid #ff900e;
  padding-left: 15px;
}

.ef-img {
  width: 55%;
}

.ef-img img {
  width: 100%;
}

.ef-box {
  padding: 20px;
  background-color: #ffffff;
  border-left: 15px solid rgba(185, 184, 184, 0.1);
  border-right: 15px solid rgba(185, 184, 184, 0.1);
  border-top: 8px solid rgba(185, 184, 184, 0.1);
  border-bottom: 8px solid rgba(185, 184, 184, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.ef-box-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}

.ef-box-desc {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 10px;
}

.ef-btn {
  border: none;
  width: 250px;
  height: 150px;
  background-color: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -90px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.ef-btn h1 {
  font-weight: 700;
  font-size: 40px;
}

.ef-btn p {
  font-weight: 400;
  font-size: 25px;
}

/* Some Facts Section */
.smf-desc {
  padding-right: 400px;
}

.smf-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.smf-box {
  width: 241px;
  height: 241px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.smf-box:hover {
  animation: border-anm 5s linear 1s infinite alternate;
  transition: all 2s ease-in-out;
}

@keyframes border-anm {
    0% {
      border: none;
      transform: scale(0.5);
    }

    8% {
      transform: scale(1);
    }

    25% {
      border-left: 1px solid #ff900e;
    }

    50% {
      border-bottom: 1px solid #ff900e;
    }

    75% {
      border-right: 1px solid #ff900e;
    }

    100% {
      border-top: 1px solid #ff900e;
    }
}

.smf-box img {
  height: 45px;
  width: 45px;
}

.smf-box h3 {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin: 10px 0;
}

.smf-box p {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}

/* our team */
.our-team {
  margin: 50px 0;
}

.team-container{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.team-profile {
  height: 400px;
  width: 240px;
  border: 1px solid #131313;
  border-radius: 8px;
  overflow: hidden;
}

.team-profile img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: top;
  border-radius: 8px 8px 0 0;
}

.team-profile-info {
  margin-top: 15px;
  padding: 10px;

}

.tp-name {
  font-weight: 600;
  color: #131313;
}

.tp-desc {
  font-weight: 400;
  margin-top: 5px;
  color: #727272;
}

/* Sponsor section style */

.sponsor {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 130px;
}

.sp-desc {
  padding: 0 200px;
}

.sponsors-img-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsors-img-container img {
  height: 50px;
  width: auto;
  filter: grayscale(100%);
}

/* Footer Section styles */
footer {
  width: 85%;
  height: 100px;
  background-color: #fff4e7;
  text-align: center;
  margin: 0 auto;
  line-height: 100px;
  margin-bottom: 50px;
}

footer p {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
}

/* Media Query Mobiles*/
@media only screen and (max-width: 576px) {
  .header {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    position: relative;
  }

  /* .humbgr:hover .nav-link {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    background-color: red;
    z-index: 99;
  } */

  .header-info {
    margin: 0;
    padding: 0;
    margin-top: 15px;
  }

  .head-info-title,
  .main-title,
  .f-title {
    font-size: 30px;
  }

  .head-info-subtitle,
  .main-desc,
  .smf-desc,
  main,
  .sp-desc,
  .f-desc {
    padding: 0 8px;
  }

  nav {
    padding: 0 30px;
  }

  .nav-link li {
    display: none;
  }

  .nav-link .humbgr {
    display: block;
  }

  .brand-title {
    font-size: 20px;
  }

  .head-btn {
    font-size: 16px;
    width: 140px;
    height: 40px;
    margin-bottom: 30px;
  }

  .header-img {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .f-img-container,
  .f-info-container,
  .ef-info,
  .ef-img {
    width: 90%;
  }

  .f-img-container {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .ef-btn {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  .smf-container,
  .sponsors-img-container,
  .features,
  .e-feature, .team-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  footer p {
    font-size: 10px;
  }
}

/* Media Query Tablet */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header {
    padding: 0 30px;
    margin: 0;
    padding-top: 20px;
  }

  .header-info {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  .head-info-title,
  .main-title,
  .f-title {
    font-size: 35px;
  }

  .head-info-subtitle,
  .main-desc,
  .smf-desc,
  main,
  .sp-desc,
  .f-desc {
    padding: 0 10px;
  }

  nav {
    padding: 0 30px;
  }

  .nav-link ul li a {
    font-size: 14px;
  }

  .brand-title {
    font-size: 30px;
  }

  .head-btn,
  .f-btn {
    font-size: 16px;
    width: 140px;
    height: 40px;
    margin-bottom: 30px;
  }

  .header-img {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .f-img-container,
  .f-info-container,
  .ef-info,
  .ef-img {
    width: 90%;
  }

  .ef-btn {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  .f-img-container {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .f-img-container img {
    width: auto;
    height: auto;
  }

  .smf-container,
  .sponsors-img-container,
  .features,
  .e-feature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  footer p {
    font-size: 18px;
  }
}
