/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* header styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 100px 20px 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.nav-link {
  display: flex;
}

.nav-link ul {
  list-style: none;
  display: flex;
}

.nav-link ul li {
  margin-left: 40px;
}

.nav-link ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.nav-link .humbgr {
    display: none;
}

.header-info {
  text-align: center;
  margin-top: 100px;
  padding: 0px 200px;
}

.head-info-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}

.head-info-subtitle {
  margin: 30px 0px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.head-btn {
    width: 168px;
    height: 64px;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
}

.header-img {
    width: 100%;
}

.header-img img {
    width: 100%;
}

/* Main Section */
main {
  padding: 0 100px;
}

.main-title {
  font-weight: 700;
font-size: 45px;
color: #131313;
}

.main-desc {
  font-weight: 400;
font-size: 16px;
color: #727272;
margin: 24px 0 40px 0;
}

/* Some Facts Section */
.smf-desc {
  padding-right: 400px;
}

.smf-container {
  display: flex;
  justify-content: space-around;
}

.smf-box {
  width: 241px;
  height: 241px;
  border: 1px solid #FF900E;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.smf-box img {
  height: 45px;
  width: 45px;
}

.smf-box h3 {
  font-weight: 600;
font-size: 45px;
color: #424242;
margin: 10px 0;
}

.smf-box p {
  font-weight: 600;
font-size: 20px;
color: #727272;
}

/* Sponsor section style */

.sponsor {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 130px;
}

.sp-desc {
  padding: 0 200px;
}

.sponsors-img-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsors-img-container img {
  height: 50px;
  width: auto;
  filter: grayscale(100%);
}


/* Media Query */
@media only screen and (max-width: 576px) {
    .header {
        padding: 0;
        margin: 0;
        padding-top: 20px;
    }

    .header-info {
        margin: 0;
        padding: 0;
        margin-top: 15px;
    }

    .head-info-title, .main-title {
        font-size: 30px;
    }

    .head-info-subtitle, .main-desc, .smf-desc, main, .sp-desc {
        padding: 0 8px;
    }
    
    nav {
        padding: 0 30px;
    }

    .nav-link li {
        display: none;
    }

    .nav-link .humbgr {
    display: block;
}

    .brand-title {
        font-size: 20px;
    }

    .head-btn {
        font-size: 16px;
        width: 140px;
        height: 40px;
        margin-bottom: 30px;
    }

    .header-img {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .smf-container, .sponsors-img-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px; 
    }
}